<nav class="navbar navbar-expand-lg navbar-light bg-transparent navbar-fixed-top"
     style="border-bottom: 1px solid rgb(233, 233, 233);">
    <a class="navbar-brand" href="#"><img src="./images/logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="./register.html">Register</a>
            </li>


            <li class="nav-item">
                <a class="nav-link active" href="./shop.html">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="./shop_single.html">Shop Single</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="./sellerDashboard.html">Seller Dashboard</a>
            </li>
        </ul>
    </div>
</nav>

@code {

}
