@page "/dashboard"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject HttpClient Http
@using Marketplace.Shared
@using System.Net.Http.Json
@using System.IO
@inject IJSRuntime JsRuntime


<NavigationBar></NavigationBar>

<div class="container-fluid" style="background-color:white ;">
    <div class="row p-5" style="background-color: rgb(223, 236, 250);">
        <div class="col-12 text-center">
            <h3>Seller Dashboard</h3>
            <span style="color: rgb(128, 128, 128);"><b>Home / Seller Dashboard</b></span>
        </div>
    </div>
    <div style="background-color:white ;" class="row">
        <div class="col-12 m-auto">
            <div class="row">
                <div class="col-12">
                    <br>
                    <h4 class="px-5">Products</h4>
                    <br>
                    <div class="table-responsive bg-secondary px-0">

                        <div style="height: 250px;">
                            <table class="table table-bordered text-center"
                                   style="overflow-x:auto;overflow-y: auto;">
                                <thead>
                                    <tr class="bg-dark text-light">
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-light text-dark">
                                    @foreach (Product product in products)
                                    {
                                        <tr>
                                            <td>@product.name</td>
                                            <td>@product.category</td>
                                            <td>@product.price</td>
                                            <td>@product.description</td>
                                            <td>
                                                <a href="/updateProduct/@product.id" class="btn btn-warning"
                                                   role="button">Update</a>
                                                <button class="btn btn-danger" @onclick="(()=>DeleteProduct(product.id))">Delete</button>
                                            </td>
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>
                    <EditForm Model="form" OnSubmit="submitRequest">
                        <br>
                        <h4>Enter Product Details</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-4 image-upload-wrap">
                                <InputFile OnChange="e => LoadFiles(e)"></InputFile>
                            </div>
                        </div>
                        <br>
                        
                            <div class="form-group">
                                <label for="name"><b>Name:</b></label>
                                <InputText @bind-Value="form.name" class="form-control" id="name" placeholder="Enter product name"></InputText>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="price"><b>Price:</b></label>
                                    <InputNumber @bind-Value="form.price" class="form-control" id="price"
                                           placeholder="Enter product price"></InputNumber>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="catagory"><b>Category:</b></label>
                                    <select @bind="form.category" class="form-control" id="catagory">
                                        <option>Food</option>
                                        <option>Women</option>
                                        <option>Men</option>
                                        <option>Kids</option>
                                        <option>Mobile</option>
                                        <option>Toys</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description"><b>Description:</b></label>
                                <InputTextArea @bind-Value="form.description" class="form-control" rows="3" id="comment"></InputTextArea>
                            </div>
                            <br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Add Product</button>
                            </div>
                        
                    </EditForm>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-12 mx-auto my-4">
                    <div class="row  my-5">
                        <div class="col-md-4 col-12 mx-auto">
                            <img src="./images/logo.jpg">
                            <h5>Call us</h5>
                            <h5 style="color:#0069D9 ;">123 456 7890</h5>
                        </div>
                        <div class="col-md-4 col-12 mx-auto">
                            <br>
                            <span>329 Queensberry Sreet, North Melbourne VIC</span>
                            <br>
                            <span>351, Australia.</span>
                            <br>
                            <span>support@jobio.com</span>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8  col-12 mx-auto my-3">
                    <span style="color: rgb(128, 128, 128);"><b>©2021 Superio, All Right Reserved.</b></span>
                </div>
            </div>
            
    </div>
</div>
    </div>

@code {
    Product form = new Product();
    List<Product> products = new List<Product>();
    IBrowserFile selectedFile;
    int sellerID;

    protected override async Task OnInitializedAsync()
    {
        sellerID = Int32.Parse(await sessionStorage.GetItemAsync<string>("sellerID"));
        products = await Http.GetFromJsonAsync<List<Product>>("api/Product/GetBySellerID?sId=" + sellerID);
    }

    public async Task LoadFiles(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
    }

    async void submitRequest()
    {
        Stream stream = selectedFile.OpenReadStream();
        MemoryStream ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        stream.Close();

        UploadedFile uploadedFile = new UploadedFile();
        uploadedFile.FileName = DateTime.Now.ToString("yymmssfff") + selectedFile.Name;
        uploadedFile.FileContent = ms.ToArray();
        ms.Close();

        await Http.PostAsJsonAsync<UploadedFile>("/api/UploadedFile", uploadedFile);
        form.image = uploadedFile.FileName;
        form.sellerId = sellerID;

        await Http.PostAsJsonAsync<Product>("/api/Product", form);

    }

    async void DeleteProduct(int id)
    {
        await Http.DeleteAsync($"api/Product?id={id}");
        products = await Http.GetFromJsonAsync<List<Product>>("api/Product/GetBySellerID?sId=" + sellerID);
        await InvokeAsync(() => StateHasChanged());
    }
}
