@page "/"
<NavigationBar></NavigationBar>
<div class="container-fluid" style="background-color:white ;">
    <div class="row p-5" style="background-color: rgb(223, 236, 250);">
        <div class="col-12 text-center">
            <h3>Shop</h3>
            <span style="color: rgb(128, 128, 128);"><b>Home / Shop</b></span>
        </div>
    </div>
    <div style="background-color:white ;" class="row">
        <div class=" col-8 m-auto">
            <div class="row my-4 ">
                <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-6 p-2  mx-auto my-2">
                    <img src="./images/album.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6>Album</h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
                <div class="card col-xl-3 p-2 col-lg-4 col-md-6 col-sm-6 mx-auto my-2">
                    <img src="./images/upper.jpg" class="card-img-top" height="250px">
                    <div class=" card-body p text-center">
                        <a class="btn btn-primary" href="./shop_single.html">
                            <i class="fa fa-shopping-bag mr-3"
                               aria-hidden="true"></i>View Details
                        </a>
                    </div>
                </div>
                <div class="card col-xl-3 p-2 col-lg-4 col-md-6  col-sm-6 mx-auto my-2">
                    <img src="./images/benie.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6>Benie</h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
                <div class="card  col-xl-3  p-2 col-lg-4 col-md-6 col-sm-6 mx-auto my-2 ">
                    <img src="./images/beniewithlogo.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6>Benie with Logo</h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
                <div class="card col-xl-3 p-2 col-lg-4 col-md-6 col-sm-6 mx-auto my-2">
                    <img src="./images/cap.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6>Cap</h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
                <div class="card col-xl-3 p-2 col-lg-4 col-md-6 col-sm-6 mx-auto my-2">
                    <img src="./images/belt.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6>Belt</h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
                <div class="card col-xl-3 p-2 col-lg-4 col-md-6 col-sm-6 mx-auto my-2">
                    <img src="./images/hoodie.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6>Hoodie with Zipper</h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
                <div class="card col-xl-3 p-2 col-lg-4  col-md-6 col-sm-6 mx-auto my-2">
                    <img src="./images/hoodiewithzipper.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6></h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
                <div class="card col-xl-3 p-2 col-lg-4 col-md-6 col-sm-6 mx-auto my-2">
                    <img src="./images/longsleevetee.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6>Long Sleeve Tee</h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
                <div class="card col-xl-3 p-2 col-lg-4 col-md-6 col-sm-6 mx-auto my-2">
                    <img src="./images/benie.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6>Hoodie with Logo</h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
                <div class="card col-xl-3 p-2 col-lg-4 col-md-6 col-sm-6 mx-auto my-2">
                    <img src="./images/album.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6>Benie</h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
                <div class="card col-xl-3 p-2 col-lg-4 col-md-6 col-sm-6 mx-auto my-2">
                    <img src="./images/belt.jpg" class="card-img-top" height="250px">
                    <div class="card-body p text-center">
                        <h6>Belt</h6>
                        <span style="color: rgb(128, 128, 128)">$21.99</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center  my-5">
            <span style="color: rgb(128, 128, 128);">
                <i class="fa fa-arrow-left mx-5" aria-hidden="true"></i>1 2 3<i class="fa fa-arrow-right mx-5" aria-hidden="true"></i>
            </span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 col-12 mx-auto my-4">
            <div class="row  my-5">
                <div class="col-md-4 col-12 mx-auto">
                    <img src="./images/logo.jpg">
                    <h5>Call us</h5>
                    <h5 style="color:#0069D9 ;">123 456 7890</h5>
                </div>
                <div class="col-md-4 col-12 mx-auto">
                    <br>
                    <span>329 Queensberry Sreet, North Melbourne VIC</span>
                    <br>
                    <span>351, Australia.</span>
                    <br>
                    <span>support@jobio.com</span>
                </div>

            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8  col-12 mx-auto my-3">
            <span style="color: rgb(128, 128, 128);"><b>©2021 Superio, All Right Reserved.</b></span>
        </div>
    </div>
</div>

@code {

}
