@page "/login"
@using Marketplace.Shared
@inject HttpClient Http
@using System.Net.Http.Json
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager
<NavigationBar></NavigationBar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-12 mx-auto">
            <div class="row my-5">
                <div class="col-md-6 col-12 mx-auto">
                    <h4>Login to Superio Mart</h4>
                    <br>
                    <EditForm Model="form" OnSubmit="submitRequest">
                        <div class="form-group input-group-lg">
                            <label><b>Email</b></label>
                            <InputText @bind-Value="form.emailAddress" type="email" class="form-control" style="border-color: #0069D9;"></InputText>
                        </div>
                        <div class="form-group input-group-lg">
                            <label><b>Password</b></label>
                            <InputText @bind-Value="form.password" type="password" class="form-control "
                                       style="background-color:rgb(223, 236, 250) ;"></InputText>
                        </div>
                        <button class="btn btn-primary btn-block px-5 py-3" type="submit">Login</button>
                    </EditForm>
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>

@code {
    Seller form = new Seller();
    async void submitRequest()
    {
        Seller sellerLoggedIn = await Http.GetFromJsonAsync<Seller>("api/Seller?email=" + form.emailAddress + "&password=" + form.password);

        if (sellerLoggedIn.id != -1) {
            await sessionStorage.SetItemAsync("sellerID", sellerLoggedIn.id);
            NavManager.NavigateTo("/dashboard");
        }

    }
}
