@page "/product/{id:int}"
@inject HttpClient Http
@using Marketplace.Shared
@using System.Net.Http.Json
@inject IJSRuntime JsRuntime

<NavigationBar></NavigationBar>
<div class="container-fluid" style="background-color:white ;">
    <div class="row p-5" style="background-color: rgb(223, 236, 250);">
        <div class="col-12 text-center">
            <h3>Shop Single</h3>
            <span style="color: rgb(128, 128, 128);"><b>Home / Shop Single</b></span>
        </div>
    </div>
    <div style="background-color:white ;" class="row">
        <div class="col-12 m-auto">
            <div class="row">
                <div class="col-md-8 col-12 mx-auto">
                    <div class="row my-5">
                        <div class="col-md-6 col-12"
                             style="border: 1px solid rgb(223, 236, 250) ;border-radius: 10px;">
                            <img src="./images/holder.jpg" class="img-fluid"
                                 style="height: auto;max-width: 100%;">
                        </div>
                        <div class="col-md-6 col-12">
                            <h2>Urban Bags - KeySmart - Premium Key Holders</h2>
                            <br>
                            <h3>$415.99</h3>

                            <br>
                            <div class="btn-group">
                                <button class="btn btn-primary px-5 py-3 mx-2" @onclick="(()=>onModalDialogOpen(true))">
                                    View Details
                                </button>


                            </div>

                            <br>
                            <br>

                            <p style="color: rgb(128, 128, 128);">Category:&emsp;&emsp; Book</p>

                        </div>
                    </div>
                    <p class="text-center"><b><u style="color: #0069D9;">Description</u></b></p>
                    <div class="row my-5
                            ">
                        <div class="col-md-8 col-12 mx-auto">
                            <h6>Details</h6>
                            <p style="color: rgb(128, 128, 128);">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco.
                            </p>
                            <p style="color: rgb(128, 128, 128);">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor.
                            </p>


                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-12 mx-auto my-4">
                    <div class="row  my-5">
                        <div class="col-md-4 col-12 mx-auto">
                            <img src="./images/logo.jpg">
                            <h5>Call us</h5>
                            <h5 style="color:#0069D9 ;">123 456 7890</h5>
                        </div>
                        <div class="col-md-4 col-12 mx-auto">
                            <br>
                            <span>329 Queensberry Sreet, North Melbourne VIC</span>
                            <br>
                            <span>351, Australia.</span>
                            <br>
                            <span>support@jobio.com</span>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8  col-12 mx-auto my-3">
                    <span style="color: rgb(128, 128, 128);"><b>©2021 Superio, All Right Reserved.</b></span>
                </div>
            </div>

            @if (ModalDialogOpen)
            {
                <div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    Urban Bags - KeySmart - Premium Key
                                    Holders
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span> Shop Name: Some Shop Name</span><br>
                                <span> Shop Address: Some Shop Address</span><br>
                                <span> Shop Phone: 123 456 7890</span>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    public bool ModalDialogOpen { get; set; }

    Product product = new Product();



    protected override async Task OnInitializedAsync()
    {
        product = await Http.GetFromJsonAsync<Product>("api/Product/GetByProductID?pId=" + id);
        //ModalDialogOpen = false;
    }

    async Task onModalDialogOpen(bool open)
    {
        ModalDialogOpen = open;
        StateHasChanged();
    }
}
