@page "/updateProduct/{id:int}"
@inject HttpClient Http
@using Marketplace.Shared
@using System.Net.Http.Json
@using System.IO
@inject NavigationManager NavManager

<NavigationBar></NavigationBar>
<div class="container-fluid" style="background-color:white ;">
    <div class="row p-5" style="background-color: rgb(223, 236, 250);">
        <div class="col-12 text-center">
            <h3>Seller Dashboard</h3>
            <span style="color: rgb(128, 128, 128);"><b>Home / Seller Dashboard</b></span>
        </div>
    </div>
    <div style="background-color:white ;" class="row">
        <div class="col-12 m-auto">
            <div class="row">
                <div class="col-12">
                    <div class="newProduct px-5 py-0">
                        <br>
                        <h4>Update Product Details</h4>
                        <br>

                        <br>
                        <EditForm Model="newProduct">
                            <div class="form-group">
                                <label for="name"><b>Name:</b></label>
                                <InputText @bind-Value="newProduct.name" class="form-control" id="name" placeholder="Enter product name"></InputText>
                            </div>

                            <div class="row">
                                <div class="col-md-4 image-upload-wrap">
                                    <InputFile class="file-upload-input" type="file" OnChange="e => LoadFiles(e)"
                                               accept="image/*"></InputFile>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="price"><b>Price:</b></label>
                                    <InputNumber @bind-Value="newProduct.price" class="form-control" id="price"
                                                 placeholder="Enter product price"></InputNumber>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="catagory"><b>Category:</b></label>
                                    <select @bind="newProduct.category" class="form-control" id="catagory">
                                        <option>Food</option>
                                        <option>Women</option>
                                        <option>Men</option>
                                        <option>Kids</option>
                                        <option>Mobile</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description"><b>Description:</b></label>
                                <InputTextArea @bind-Value="newProduct.description" class="form-control" rows="3" id="comment"></InputTextArea>
                            </div>
                            <br>
                            <div class="text-center">
                                <a class="btn btn-primary" @onclick="updateProd">Update Product</a>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-12 mx-auto my-4">
                    <div class="row  my-5">
                        <div class="col-md-4 col-12 mx-auto">
                            <img src="./images/logo.jpg">
                            <h5>Call us</h5>
                            <h5 style="color:#0069D9 ;">123 456 7890</h5>
                        </div>
                        <div class="col-md-4 col-12 mx-auto">
                            <br>
                            <span>329 Queensberry Sreet, North Melbourne VIC</span>
                            <br>
                            <span>351, Australia.</span>
                            <br>
                            <span>support@jobio.com</span>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8  col-12 mx-auto my-3">
                    <span style="color: rgb(128, 128, 128);"><b>©2021 Superio, All Right Reserved.</b></span>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                Urban Bags - KeySmart - Premium Key
                                Holders
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span> Shop Name: Some Shop Name</span><br>
                            <span> Shop Address: Some Shop Address</span><br>
                            <span> Shop Phone: 123 456 7890</span>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    IBrowserFile selectedFile;

    Product newProduct = new Product();
    Product oldProd = new Product();

    protected override async Task OnInitializedAsync()
    {
        oldProd = await Http.GetFromJsonAsync<Product>("api/Product/GetByProductID?pId=" + id);
        newProduct.id = oldProd.id;
        newProduct.sellerId = oldProd.sellerId;
        newProduct.image = oldProd.image;
        newProduct.name = oldProd.name;
        newProduct.price = oldProd.price;
        newProduct.description = oldProd.description;
        newProduct.category = oldProd.category;
    }

    async void updateProd()
    {
        newProduct.id = oldProd.id;
        newProduct.sellerId = oldProd.sellerId;

        if (selectedFile != null)
        {
            Stream stream = selectedFile.OpenReadStream();
            MemoryStream ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            stream.Close();

            UploadedFile uploadedFile = new UploadedFile();
            uploadedFile.FileName = DateTime.Now.ToString("yymmssfff") + selectedFile.Name;
            uploadedFile.FileContent = ms.ToArray();
            ms.Close();

            await Http.PostAsJsonAsync<UploadedFile>("/api/UploadedFile", uploadedFile);
            newProduct.image = uploadedFile.FileName;
        }

        else
        {
            newProduct.image = oldProd.image;
        }

        if (newProduct.name == "")
        {
            newProduct.name = oldProd.name;
        }

        if (newProduct.price == null)
        {
            newProduct.price = oldProd.price;
        }

        if (newProduct.description == "")
        {
            newProduct.description = oldProd.description;
        }

        await Http.PutAsJsonAsync<Product>("/api/Product?key=" + newProduct.id, newProduct);

        NavManager.NavigateTo("/dashboard");

    }

    public async Task LoadFiles(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
    }
}
